# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
ulos/.htaccess
ulos/asset-manifest.json
ulos/favicon.ico
ulos/index.html
ulos/logo192.png
ulos/logo512.png
ulos/manifest.json
ulos/maskable.png
ulos/robots.txt
ulos/service-worker.js
ulos/service-worker.js.map
ulos/static/css/main.8b37eb84.chunk.css
ulos/static/css/main.8b37eb84.chunk.css.map
ulos/static/js/2.802c8a48.chunk.js
ulos/static/js/2.802c8a48.chunk.js.LICENSE.txt
ulos/static/js/2.802c8a48.chunk.js.map
ulos/static/js/main.3a8780a1.chunk.js
ulos/static/js/main.3a8780a1.chunk.js.map
ulos/static/js/runtime-main.eaa1bcfd.js
ulos/static/js/runtime-main.eaa1bcfd.js.map
ulos/static/media/ulos.b6f1b9e5.png
